# Class 7 - Data structures: Tuples, Lists, Dictionaries

## Tuples
A Tuple represents a collection of objects that are ordered and immutable
(cannot be modified). Tuples allow duplicate members and are indexed.

Tuples in Python are like a list of items, but - once you create a tuple, you can't change it. Tuples are useful when you have a collection of items that you want to keep constant throughout your program, like the days of the week or the planets in our solar system.

#### Quick example of previous uses

In [ ]:
def my_function(x):
    return(x+1, x+2, x+3)

In [ ]:
var1, var2, var3 = my_function(10)
print(var1)
print(var2)
print(var3)

Let's look at a simple example of a tuple. We'll create a tuple with a few elements and show how to read its contents. This will give us a glimpse into how tuples operate in Python. Remember, the goal here is not to modify the tuple but to understand how we can access and use the information it holds.

In [ ]:
returned_value = my_function(10)
returned_value

In [ ]:
type(returned_value)

In [ ]:
tpl = (1, 5, 10, 12, 'b', 'a', 'shalom')
print(tpl)
print('Lenght of this tuple is: ' + str(len(tpl)))
print(type(tpl))

### Accessing a specific place or slice of tuple

In [ ]:
'hello'[0]

In [ ]:
tpl = (1, 'two', 3.0)
tpl

In [ ]:
print(tpl[0])
print(tpl[1])

In [ ]:
print(tpl[-1])
type(tpl[-1])

In [ ]:
type(tpl)

In [ ]:
x = tuple('shalom')

In [ ]:
x

In [ ]:
type(x)

###  Tuples in tuples (containers in containers)
Tuples can also hold other tuples, creating a structure like a set of Russian nesting dolls, where each doll contains another smaller doll inside. This concept of 'containers within containers' allows us to organize data in a *hierarchical manner*. For example, you might have a tuple representing a bookshelf, where each element is a tuple representing a row of books. To access a specific book, we need to first select the row and then the book within that row.

In [ ]:
# Define a tuple representing a bookshelf where each tuple is a row of books
bookshelf = (
    ("The Great Gatsby", "To Kill a Mockingbird", "1984"),  # First row of books
    ("Pride and Prejudice", "Wuthering Heights", "Jane Eyre"),  # Second row of books
    ("The Hobbit", "The Lord of the Rings", "The Silmarillion")  # Third row of books
)

bookshelf[2][1]

In [ ]:
bookshelf[0]

In [ ]:
# What will be the exact output of the next command?
bookshelf[1][2]

In [ ]:
# Tuple methods
("The Hobbit", "The Lord of the Rings", "The Silmarillion") in bookshelf

In [ ]:
"1984" in bookshelf[0]

### Remember, tuples are **immutable**

In [ ]:
print(tpl)
len(tpl)

In [ ]:
tpl[1] = 222

## Lists
`list` is very similar to `tuple`. The main difference is that list is **mutable**.

Lists in Python are like dynamic collections or arrays that can grow and shrink as needed, much like a shopping list where you can add new items, remove ones you've decided against, or even change an item to something else. **This flexibility makes lists one of the most useful and frequently used data structures in Python.** They are great for when you're dealing with a collection of items that needs to be organized in order, and you expect to modify this collection by adding, removing, or changing items.

In [1]:
mylist = [1, 'two', 3.0]
print(mylist)

# change the value at index 0
mylist[0] = 'one'
print(mylist)

[1, 'two', 3.0]
['one', 'two', 3.0]

### Additional ways to create a list

In [2]:
x = list(range(3,10)) # iterator
print(x)

[3, 4, 5, 6, 7, 8, 9]

In [3]:
mystring = 'iftach|amir|123'
x = mystring.split(sep='|')
print(x)

['iftach', 'amir', '123']

In [4]:
type(x)

list

In [5]:
# EXERCISE
# Ask the user to input a series of numbers separated by
# a comma "," and save the series as a python list.

a = input()
mylist = a.split(sep=',')
print(mylist)

 10,20,30,40

['10', '20', '30', '40']

In [8]:
a = 'have+a+nice+day'
a.split()

['have', 'a', 'nice', 'day']

### Modifiying lists
- changing at an index
- changing a slice
- **appending**

In [9]:
l = list('hello')
l

['h', 'e', 'l', 'l', 'o']

In [10]:
l[0] = 'HHHH'
l

['HHHH', 'e', 'l', 'l', 'o']

In [33]:
mylist = ['joe', 'biden', 1, 2, 3]
mylist[0] = '999'
mylist

['999', 'biden', 1, 2, 3]

In [12]:
mylist

['999', 'biden', 1, 2, 3]

In [14]:
print(mylist)
mylist[2:4] = 4
mylist

['999', 'biden', 4, 5, 6, 3]

TypeError: can only assign an iterable

In [23]:
mylist

['999', 'biden', 1, 2, 3]

In [26]:
mylist.append(1001)
mylist

['999', 'biden', 1, 2, 3, 1001, 1001, 1001]

In [30]:
mylist.remove(1001)
mylist

In [32]:
type(mylist)

NoneType

In [36]:
mylist = ['999', 'biden', 1, 2, 3]
mylist

['999', 'biden', 1, 2, 3]

In [37]:
print(0, mylist)
x =  mylist.pop(1)
print(x)
print(2, mylist)

0 ['999', 'biden', 1, 2, 3]
2 ['999', 1, 2, 3]

In [38]:
x

'biden'

In [ ]:
mylist.count(1001)

#### Appending and Extending
Append and Extend are *methods* of `list`.

`append` adds the inputted value at the end of the list

In [39]:
mylist = ['joe', 'biden', 1, 2, 3]
mylist

['joe', 'biden', 1, 2, 3]

In [40]:
mylist.append([1,2,3])
mylist

['joe', 'biden', 1, 2, 3, [1, 2, 3]]

In [43]:
round(3.5)

4

In [44]:
mylist.append(round)

In [45]:
mylist

['joe', 'biden', 1, 2, 3, [1, 2, 3], <function round(number, ndigits=None)>]

In [ ]:
len(mylist)

`extend` takes an inputted list (or any other iterable object), 'breaks' the list apart, and adds at the end of the list

In [54]:
mylist = ['joe', 'biden', 1, 2, 3]
mylist

['joe', 'biden', 1, 2, 3]

In [53]:
mylist.append(10,100, 1000)

TypeError: list.append() takes exactly one argument (3 given)

In [50]:
mylist

['joe', 'biden', 1, 2, 3, [10, 100, 1000]]

In [51]:
len(mylist)

6

In [55]:
mylist.extend([10,100, 1000])
mylist

['joe', 'biden', 1, 2, 3, 10, 100, 1000]

In [56]:
mylist.extend(range(90,100))
mylist

['joe',
 'biden',
 1,
 2,
 3,
 10,
 100,
 1000,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

`insert()`

In [57]:
mylist.insert(1, 'abcd')
mylist

['joe',
 'abcd',
 'biden',
 1,
 2,
 3,
 10,
 100,
 1000,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

Finding an index

In [59]:
print(mylist)
mylist.index(555)
#mylist.count(1000)

['joe', 'abcd', 'biden', 1, 2, 3, 10, 100, 1000, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

ValueError: 555 is not in list

In [61]:
'joe' + 'biden' + 1

TypeError: can only concatenate str (not "int") to str

In [69]:
mylist = ['joe', 'biden', 1, 2, 3, 'joe', 'biden', 'joe', 'biden']
mylist

['joe', 'biden', 1, 2, 3, 'joe', 'biden', 'joe', 'biden']

In [79]:
idx = 0
joe_idx = 0
for current_item in mylist:
    if current_item=='joe':
       joe_idx = idx
    idx = idx + 1
    
print(f'{idx=}', f'{joe_idx=}')
print('The answer is', joe_idx)

idx=9 joe_idx=7
The answer is 7

##### Sort
Python lists are **mutable**.

In [85]:
x = ['a','c','b']
print(x.sort())

None

In [86]:
a = [1, 2, 10, 9, 5]
print(a)

a.sort()
print(a)

[1, 2, 10, 9, 5]
[1, 2, 5, 9, 10]

In [87]:
a = [1, 2, 10, 9, 5]
b = a
print(f'{a=}', f'{b=}', sep="\n")

a=[1, 2, 10, 9, 5]
b=[1, 2, 10, 9, 5]

In [88]:
b.sort()
print(f'{a=}')

a=[1, 2, 5, 9, 10]

In [89]:
b

[1, 2, 5, 9, 10]

In [90]:
import copy

a = [1, 2, 10, 9, 5]
b = copy.deepcopy(a)

b.sort()

print(f'{a=}',f'{b=}', sep="\n")

a=[1, 2, 10, 9, 5]
b=[1, 2, 5, 9, 10]

In [ ]:
a = [1, 2, 10, 9, 5]

b = sorted(a)

print(f'{a=}')
print(f'{b=}')

In [ ]:
b.sort()
print(f'{a=}',f'{b=}', sep="\n")

### Additional methods
http://python-ds.com/python-3-list-methods

### Chaining methods - String to List

In [92]:
mystring = 'veni vidi vici'
mylist = mystring.split()
#print(mylist)
mylist.index('vici')

2

In [ ]:
mystring = 'veni vidi vici'
mystring.split().index('vici')

### Lists and For loops
Lists (and also Tuple) are easy to combine with a `for` loop. For example:

In [65]:
mylist = [1, 2, 100, 'abc']
mylist

[1, 2, 100, 'abc']

In [66]:
for xyz in mylist:
    print(xyz)

1
2
100
abc

In [68]:
xyz

'abc'

In [67]:
type(xyz)

str

Remember, to modify an item in a list, you need to explicitly give python an index location and the value to assign to that location.

In [97]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]
mylist

['veni', 'vidi', 'vici', 1, 2, 3]

In [94]:
for each_item in mylist:
    each_item = each_item*2
    print(each_item)

#print('After the loop: ')
print(mylist)

veniveni
vidividi
vicivici
2
4
6
['veni', 'vidi', 'vici', 1, 2, 3]

In [95]:
mylist

['veni', 'vidi', 'vici', 1, 2, 3]

There is a special way to write a `for` loop to also get an automatically updating index.

In [98]:
mylist * 2

['veni', 'vidi', 'vici', 1, 2, 3, 'veni', 'vidi', 'vici', 1, 2, 3]

In [99]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]

idx = 0
for each_item in mylist:
    
    modified_item = each_item*2
    
    mylist[idx] = modified_item

    idx = idx + 1

mylist

['veniveni', 'vidividi', 'vicivici', 2, 4, 6]

In [ ]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]
print(mylist)

for i, each_item in enumerate(mylist):
    
    # Multiply each item by 2
    each_item = each_item*2
    #print(i, each_item)
    
    # Save the change in the original list
    mylist[i] = each_item

print(mylist)

#### What's going on 'under the hood'?

In [100]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]
print(list(enumerate(mylist)))

[(0, 'veni'), (1, 'vidi'), (2, 'vici'), (3, 1), (4, 2), (5, 3)]

In [104]:
print(list(enumerate(range(0,100,25))))

[(0, 0), (1, 25), (2, 50), (3, 75)]

#### Exercise
Write a program that reads integers from the user and stores them in a list. Your
program should continue reading values until the user enters 0. Then it should display
all of the values entered by the user (except for the 0) in order from smallest to largest,
with one value appearing on each line. Use either the sort method or the sorted
function to sort the list.

### List comprehensions
new_list = [ _expression_ for _member_ in _iterable_ ]

In [ ]:
l = []
len(l)

In [105]:
## Create a list of 3 items
l = [] # Empty list
for i in range(3):
    l.append(int(input()))
l

 99
 101
 103

[99, 101, 103]

In [106]:
## Create a list of 3 items
a = [int(input()) for i in range(3)]
a

 2
 4
 6

[2, 4, 6]

In [ ]:
l == a

In [107]:
# Create a list of numbers seperated by spaces
a = [int(s) for s in input().split()]
a

 1 3 5 99 18

[1, 3, 5, 99, 18]

In [ ]:
import time

a = [int(s) for s in input().split()]

for idx in range(0,len(a)):
    if idx%2==0:
        print(a[idx])

In [108]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

### Exercise
Given an ordered list of test scores, produce a list associating each score with a
rank (starting with 1 for the __highest__ score). Equal scores should have the same rank.\
For example, the input list `[87, 75, 75, 50, 32, 32]` should produce the list of rankings
`[1,2,2,3,4,4]`

In [ ]:
a = [87, 75, 75, 50, 32, 32]

## Exercise 2
When analysing data collected as part of a science experiment it may be desirable
to remove the most extreme values before performing other calculations. Write a
function that takes a list of values and an non-negative integer, n, as its parameters.
The function should create a new copy of the list with the n largest elements and the
n smallest elements removed. Then it should return the new copy of the list as the
functionâ€™s only result. The order of the elements in the returned list does not have to
match the order of the elements in the original list.

In [ ]:
import random
rt = []
for i in range(100):
    rt.append(random.randint(100,800))
print(rt)

In [ ]:
l = remove_n_outliers(rt, 10)

## Sets

`set` is an unordered container which is immutable and **does not allow duplicates**.

In [16]:
months = {'June', 'July', 'August', 'September', 'October', 'November'}
print(type(months))
months

<class 'set'>

{'August', 'July', 'June', 'November', 'October', 'September'}

In [15]:
months_list = ['June', 'July', 'August', 'September', 'October', 'November']
print(type(months_list))
months_list

<class 'list'>

['June', 'July', 'August', 'September', 'October', 'November']

The key characteristic of set is no duplicates

In [17]:
### LIST
# Add a new month
months_list.append('December')
print(months_list)

# Add a month already included
months_list.append('October')
print(months_list)

['June', 'July', 'August', 'September', 'October', 'November', 'December']
['June', 'July', 'August', 'September', 'October', 'November', 'December', 'October']

In [19]:
### SET
# Add a new month
months.add('December')
print(months)

# Add a month already included
months.add('October')
print(months)

{'September', 'June', 'October', 'November', 'July', 'December', 'August'}
{'September', 'June', 'October', 'November', 'July', 'December', 'August'}

In [6]:
# 2nd example
mylist = ['a', 'b', 'c', 'd', 'a', 'a']
myset = set(mylist)
print(mylist)
print(myset)

['a', 'b', 'c', 'd', 'a', 'a']
{'a', 'd', 'b', 'c'}

`in` a set

In [8]:
months

{'August', 'December', 'July', 'June', 'November', 'October', 'September'}

In [7]:
print('november' in months)
print('November' in months)

False
True

In [9]:
months.add('november')

In [10]:
months

{'August',
 'December',
 'July',
 'June',
 'November',
 'October',
 'September',
 'november'}

In [12]:
x = sorted(months)
print(x)

['August', 'December', 'July', 'June', 'November', 'October', 'September', 'november']

In [13]:
type(x)

list

In [ ]:
unique()

### Set unions. interactions and differences

In [20]:
months

{'August', 'December', 'July', 'June', 'November', 'October', 'September'}

In [21]:
months_2 = {'January', 'February', 'March', 'April', 'May', 'June', 'July'}
print(months_2)
print(months)

{'June', 'February', 'March', 'January', 'April', 'July', 'May'}
{'September', 'June', 'October', 'November', 'July', 'December', 'August'}

![](https://i.stack.imgur.com/uH6cL.png)

In [23]:
print(1, months.union(months_2))
print(2, months.intersection(months_2))
print(3, months_2.difference(months))

1 {'June', 'December', 'February', 'May', 'August', 'September', 'October', 'March', 'January', 'April', 'July', 'November'}
2 {'June', 'July'}
3 {'May', 'February', 'March', 'January', 'April'}

In [ ]:
set_tmp = months
set_tmp

In [ ]:
a = [1, 2, 3, 4, 5, 6, 6, 6]
b = set(a)
print(a, b)

In [ ]:
len(a) - len(b)

More on sets:
https://youtu.be/sBvaPopWOmQ

## Dictionaries
Dictionary is a container of associations between keys and values.

In [3]:
our_course = {'Name' : 'Introduction to Python', 'Year' : 2020, 'Instructor' : ['Iftach', 'Amir']}
print(type(our_course))
our_course

<class 'dict'>

{'Name': 'Introduction to Python',
 'Year': 2020,
 'Instructor': ['Iftach', 'Amir']}

In [25]:
our_course["Year"]

2020

In [26]:
print(1, our_course["Year"])
print(2, type(our_course["Year"]))
print(3, our_course)

1 2020
2 <class 'int'>
3 {'Name': 'Introduction to Python', 'Year': 2020, 'Instructor': ['Iftach', 'Amir']}

### Adding to- and changing a- dictionary

In [4]:
our_course["University"] = "Haifa"
print(our_course)

{'Name': 'Introduction to Python', 'Year': 2020, 'Instructor': ['Iftach', 'Amir'], 'University': 'Haifa'}

In [28]:
our_course["Name"] = "Intro to Python"
print(our_course)

{'Name': 'Intro to Python', 'Year': 2020, 'Instructor': ['Iftach', 'Amir'], 'University': 'Haifa'}

In [29]:
our_course[2023] = 'The current year'
our_course

{'Name': 'Intro to Python',
 'Year': 2020,
 'Instructor': ['Iftach', 'Amir'],
 'University': 'Haifa',
 2023: 'The current year'}

In [31]:
our_course[0]

KeyError: 0

#### `try` and `except`
Python has a useful command `try` that lets you run an expression (line of code). If that line of code 'fails', i.e. returns an `Error`, you can run an alternative line of code. This is done using `except`.

In [32]:
our_course

{'Name': 'Intro to Python',
 'Year': 2020,
 'Instructor': ['Iftach', 'Amir'],
 'University': 'Haifa',
 2023: 'The current year'}

In [47]:
try:
    our_course['Year']
except:
    print(123)

In [34]:
our_course.keys()

dict_keys(['Name', 'Year', 'Instructor', 'University', 2023])

In [36]:
'Country' in our_course.keys()

False

In [39]:
 if 'Country' in our_course.keys():
        print(our_course['Country'])

In [42]:
key = input('Enter dictionary key')
try:
    val = our_course[key]
    print('The value of', key, 'is', val)
except:
    print('Key is not in dictionary')

Enter dictionary key Year

The value of Year is 2020

In [ ]:
val = our_course[key]

In [ ]:
key

In [49]:
try:
    val = int(input('Enter a whole number'))
    print(val)
except:
    print('You enterred an incorrect value')

Enter a whole number abc

You enterred an incorrect value

In [1]:
# Leveraging try and except for faulty inputs

password_pin = 1234
while True:
    try:
        pin = int(input('Enter 4 digit pin number'))
        if pin == password_pin:
            break
        else:
            print('Incorrect, try again.')
    except:
        print('Please enter only numbers')

print('Correct!')

Enter 4 digit pin number 123a

Please enter only numbers

Enter 4 digit pin number 1234

Correct!

### Iterating over a dictionary

In [5]:
our_course

{'Name': 'Introduction to Python',
 'Year': 2020,
 'Instructor': ['Iftach', 'Amir'],
 'University': 'Haifa'}

In [6]:
for x in our_course:
    print(x)

Name
Year
Instructor
University

In [7]:
for x in our_course.keys():
    print(x)

Name
Year
Instructor
University

In [8]:
for x in our_course.values():
    print(x)

Introduction to Python
2020
['Iftach', 'Amir']
Haifa

In [9]:
for each_key in our_course:
    value = our_course[each_key]
    print("The key is " + str(each_key) +
          ", its value is " + str(value) +
          " and its value type is " + str(type(value)))

The key is Name, its value is Introduction to Python and its value type is <class 'str'>
The key is Year, its value is 2020 and its value type is <class 'int'>
The key is Instructor, its value is ['Iftach', 'Amir'] and its value type is <class 'list'>
The key is University, its value is Haifa and its value type is <class 'str'>

In [10]:
# Methods
print(1, our_course.keys())
print(2, our_course.values())
print(3, our_course.items())

1 dict_keys(['Name', 'Year', 'Instructor', 'University'])
2 dict_values(['Introduction to Python', 2020, ['Iftach', 'Amir'], 'Haifa'])
3 dict_items([('Name', 'Introduction to Python'), ('Year', 2020), ('Instructor', ['Iftach', 'Amir']), ('University', 'Haifa')])

#### Getting both key and value in for loop

In [12]:
for x, y in our_course.items():
    print(x, y)

Name Introduction to Python
Year 2020
Instructor ['Iftach', 'Amir']
University Haifa

#### Dictionaries and lists inside Dictionaries

In [13]:
grades = {'12A': {'Anna': 100, 'Tom': 90, 'Dave': 100},
         '12B': {'Dan': 80, 'Shira': 88}}

In [14]:
grades['12A']

{'Anna': 100, 'Tom': 90, 'Dave': 100}

In [15]:
len(grades['12A'])

3

In [16]:
grades['12A']['Tom']

90

In [17]:
class_name = input('Enter class name:')
student_name = input('Enter student name:')

grades[class_name][student_name]

Enter class name: 12A
Enter student name: Dave

100

### Exercise
Write a main program that uses your function to simulate rolling two six-sided
dice 1,000 times. As your program runs, it should count the number of times that each
total occurs. Then it should display a dictionary that summarizes this data. Express the
frequency for each total as a percentage of the total number of rolls.

In [18]:
# Example 1
import random

random.randint(1,6)

1

In [24]:
random.randint(1,6)

3

In [27]:
# Example 2
import random

for i in range(10):
    print(random.randint(1,6))

4
5
5
6
5
2
5
4
2
2

In [28]:
prob = {2: 1/36,
        3: 2/36,
        4: 3/36,
        5: 4/36,
        6: 5/36,
        7: 6/36,
        8: 5/36,
        9: 4/36,
        10: 3/36,
        11: 2/36,
        12: 1/36}
prob

{2: 0.027777777777777776,
 3: 0.05555555555555555,
 4: 0.08333333333333333,
 5: 0.1111111111111111,
 6: 0.1388888888888889,
 7: 0.16666666666666666,
 8: 0.1388888888888889,
 9: 0.1111111111111111,
 10: 0.08333333333333333,
 11: 0.05555555555555555,
 12: 0.027777777777777776}

In [29]:
d = {}

for i in range(1000):
    first_dice = random.randint(1,6)
    second_dice = random.randint(1,6)
    
    dice_total = first_dice + second_dice
    
    if dice_total not in d:
        d[dice_total] = 1
    else:
        d[dice_total] = d[dice_total] + 1
        
sorted(d.items())

[(2, 39),
 (3, 68),
 (4, 101),
 (5, 98),
 (6, 122),
 (7, 187),
 (8, 122),
 (9, 107),
 (10, 76),
 (11, 47),
 (12, 33)]

In [30]:
d

{3: 68,
 6: 122,
 4: 101,
 7: 187,
 10: 76,
 12: 33,
 11: 47,
 5: 98,
 8: 122,
 9: 107,
 2: 39}

In [ ]:
d[12]

In [ ]:
len(d)