# Class 7 - Data structures: Tuples, Lists, Dictionaries

## Tuples
A Tuple represents a collection of objects that are ordered and immutable
(cannot be modified). Tuples allow duplicate members and are indexed.

Tuples in Python are like a list of items, but - once you create a tuple, you can't change it. Tuples are useful when you have a collection of items that you want to keep constant throughout your program, like the days of the week or the planets in our solar system.

#### Quick example of previous uses

In [26]:
def my_function(x):
    return(x+1, x+2, x+3)

In [27]:
var1, var2, var3 = my_function(10)
print(var1)
print(var2)
print(var3)

11
12
13

Let's look at a simple example of a tuple. We'll create a tuple with a few elements and show how to read its contents. This will give us a glimpse into how tuples operate in Python. Remember, the goal here is not to modify the tuple but to understand how we can access and use the information it holds.

In [28]:
returned_value = my_function(10)
returned_value

(11, 12, 13)

In [29]:
type(returned_value)

tuple

In [30]:
tpl = (1, 5, 10, 'b', 'a', 'shalom')
print(tpl)
print('Lenght of this tuple is: ' + str(len(tpl)))
print(type(tpl))

(1, 5, 10, 'b', 'a', 'shalom')
Lenght of this tuple is: 6
<class 'tuple'>

### Accessing a specific place or slice of tuple

In [31]:
'hello'[1]

'e'

In [32]:
tpl = (1, 'two', 3.0)
tpl

(1, 'two', 3.0)

In [33]:
print(tpl[0])
print(tpl[1])

1
two

In [34]:
print(tpl[-1])
type(tpl[-1])

3.0

float

In [35]:
x = tuple('shalom')

In [36]:
x

('s', 'h', 'a', 'l', 'o', 'm')

In [37]:
type(x)

tuple

###  Tuples in tuples (containers in containers)
Tuples can also hold other tuples, creating a structure like a set of Russian nesting dolls, where each doll contains another smaller doll inside. This concept of 'containers within containers' allows us to organize data in a *hierarchical manner*. For example, you might have a tuple representing a bookshelf, where each element is a tuple representing a row of books. To access a specific book, we need to first select the row and then the book within that row.

In [38]:
# Define a tuple representing a bookshelf where each tuple is a row of books
bookshelf = (
    ("The Great Gatsby", "To Kill a Mockingbird", "1984"),  # First row of books
    ("Pride and Prejudice", "Wuthering Heights", "Jane Eyre"),  # Second row of books
    ("The Hobbit", "The Lord of the Rings", "The Silmarillion")  # Third row of books
)

bookshelf[2][1]

'The Lord of the Rings'

In [39]:
bookshelf[0]

('The Great Gatsby', 'To Kill a Mockingbird', '1984')

In [40]:
# What will be the exact output of the next command?
bookshelf[2][2]

'The Silmarillion'

In [41]:
# Tuple methods
("The Hobbit", "The Lord of the Rings", "The Silmarillion") in bookshelf

True

In [42]:
"1984" in bookshelf[0]

True

### Remember, tuples are **immutable**

In [43]:
print(tpl)
len(tpl)

(1, 'two', 3.0)

3

In [44]:
tpl[1] = 222

TypeError: 'tuple' object does not support item assignment

## Lists
`list` is very similar to `tuple`. The main difference is that list is **mutable**.

Lists in Python are like dynamic collections or arrays that can grow and shrink as needed, much like a shopping list where you can add new items, remove ones you've decided against, or even change an item to something else. This flexibility makes lists one of the most useful and frequently used data structures in Python. They are great for when you're dealing with a collection of items that needs to be organized in order, and you expect to modify this collection by adding, removing, or changing items.

In [ ]:
mylist = [1, 'two', 3.0]
print(mylist)

# change the value at index 0
mylist[0] = 'one'
print(mylist)

### Additional ways to create a list

In [ ]:
x = list(range(3,10)) # iterator
print(x)

In [ ]:
mystring = 'iftach|amir|123'
x = mystring.split(sep='|')
print(x)

In [ ]:
type(x)

In [ ]:
# EXERCISE
# Ask the user to input a series of numbers separated by
# a comma "X" and save the series as a python list.

a = input()
mylist = a.split(sep='X')
print(mylist)

### Modifiying lists
- changing at an index
- changing a slice
- **appending**

In [ ]:
l = list('hello')
l

In [ ]:
l[0] = 'HHHH'
l

In [53]:
mylist = ['joe', 'biden', 1, 2, 3]
mylist[0] = '999'
mylist

['999', 'biden', 1, 2, 3]

In [54]:
mylist

['999', 'biden', 1, 2, 3]

In [55]:
print(mylist)
mylist[2:4] = [4, 5, 6]
mylist

['999', 'biden', 1, 2, 3]

['999', 'biden', 4, 5, 6, 3]

In [ ]:
mylist

In [ ]:
mylist[2:4]

In [58]:
mylist.append(1001)
mylist

['999', 'biden', 4, 5, 6, 3, 1001, 1001, 1001]

In [59]:
mylist.remove(1001)
mylist

['999', 'biden', 4, 5, 6, 3, 1001, 1001]

In [60]:
print(0, mylist)
print(1, mylist.pop(1))
print(2, mylist)

0 ['999', 'biden', 4, 5, 6, 3, 1001, 1001]
1 biden
2 ['999', 4, 5, 6, 3, 1001, 1001]

In [52]:
mylist.count(1001)

3

#### Appending and Extending
Append and Extend are *methods* of `list`.

`append` adds the inputted value at the end of the list

In [61]:
mylist = ['joe', 'biden', 1, 2, 3]
mylist

['joe', 'biden', 1, 2, 3]

In [62]:
mylist.append([1,2,3])
mylist

['joe', 'biden', 1, 2, 3, [1, 2, 3]]

In [ ]:
mylist.append(round)

In [ ]:
mylist

In [ ]:
len(mylist)

`extend` takes an inputted list (or any other iterable object), 'breaks' the list apart, and adds at the end of the list

In [63]:
mylist = ['joe', 'biden', 1, 2, 3]
mylist

['joe', 'biden', 1, 2, 3]

In [65]:
mylist.extend([10,100, 1000])
mylist

['joe', 'biden', 1, 2, 3, 100, 101, 102, 103, 10, 100, 1000]

In [66]:
mylist.extend(range(90,100))
mylist

['joe',
 'biden',
 1,
 2,
 3,
 100,
 101,
 102,
 103,
 10,
 100,
 1000,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

`insert()`

In [ ]:
mylist.insert(1, 'abcd')
mylist

Finding an index

In [ ]:
print(mylist)
mylist.index(555)
#mylist.count(1000)

##### Sort
Python lists are **mutable**.

In [ ]:
a = [1, 2, 10, 9, 5]
print(a)

a.sort()
print(a)

In [ ]:
a = [1, 2, 10, 9, 5]
b = a
print(f'{a=}', f'{b=}', sep="\n")

In [ ]:
b.sort()
print(f'{a=}')

In [ ]:
b

In [ ]:
import copy

a = [1, 2, 10, 9, mysecondlist]
b = copy.deepcopy(a)

b.sort()

print(f'{a=}',f'{b=}', sep="\n")

In [ ]:
a = [1, 2, 10, 9, 5]

b = sorted(a)

print(f'{a=}')
print(f'{b=}')

In [ ]:
b.sort()
print(f'{a=}',f'{b=}', sep="\n")

### Additional methods
http://python-ds.com/python-3-list-methods

### Chaining methods - String to List

In [ ]:
mystring = 'veni vidi vici'
mylist = mystring.split()
#print(mylist)
mylist.index('vici')

In [ ]:
mystring = 'veni vidi vici'
mystring.split().index('vici')

### Lists and For loops
Lists (and also Tuple) are easy to combine with a `for` loop. For example:

In [ ]:
mylist = [1, 2, 100, 'abc']
mylist

In [ ]:
for xyz in mylist:
    print(xyz)

In [ ]:
type(xyz)

In [ ]:
xyz + 'shalom'

Remember, to modify an item in a list, you need to explicitly give python an index location and the value to assign to that location.

In [ ]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]
mylist

In [ ]:
mylist*2

In [ ]:
for each_item in mylist:
    each_item = each_item*2
    print(each_item)

#print('After the loop: ')
print(mylist)

In [ ]:
mylist

There is a special way to write a `for` loop to also get an automatically updating index.

In [ ]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]

idx = 0
for each_item in mylist:
    
    modified_item = each_item*2
    
    mylist[idx] = modified_item

    idx = idx + 1

mylist

In [ ]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]
print(mylist)

for i, each_item in enumerate(mylist):
    
    # Multiply each item by 2
    each_item = each_item*2
    #print(i, each_item)
    
    # Save the change in the original list
    mylist[i] = each_item

print(mylist)

#### What's going on 'under the hood'?

In [ ]:
mylist = ['veni', 'vidi', 'vici', 1, 2, 3]
print(list(enumerate(mylist)))

#### Exercise
Write a program that reads integers from the user and stores them in a list. Your
program should continue reading values until the user enters 0. Then it should display
all of the values entered by the user (except for the 0) in order from smallest to largest,
with one value appearing on each line. Use either the sort method or the sorted
function to sort the list.

### List comprehensions
new_list = [ _expression_ for _member_ in _iterable_ ]

In [ ]:
l = []
len(l)

In [ ]:
## Create a list of 3 items
l = [] # Empty list
for i in range(3):
    l.append(int(input()))
l

In [ ]:
## Create a list of 3 items
a = [int(input()) for i in range(5)]
a

In [ ]:
l == a

In [ ]:
# Create a list of numbers seperated by spaces
a = [int(s) for s in input().split()]
a

In [ ]:
import time

a = [int(s) for s in input().split()]

for idx in range(0,len(a)):
    if idx%2==0:
        print(a[idx])

### Exercise
Given an ordered list of test scores, produce a list associating each score with a
rank (starting with 1 for the __highest__ score). Equal scores should have the same rank.\
For example, the input list `[87, 75, 75, 50, 32, 32]` should produce the list of rankings
`[1,2,2,3,4,4]`

In [ ]:
a = [87, 75, 75, 50, 32, 32]

## Exercise 2
When analysing data collected as part of a science experiment it may be desirable
to remove the most extreme values before performing other calculations. Write a
function that takes a list of values and an non-negative integer, n, as its parameters.
The function should create a new copy of the list with the n largest elements and the
n smallest elements removed. Then it should return the new copy of the list as the
functionâ€™s only result. The order of the elements in the returned list does not have to
match the order of the elements in the original list.

In [ ]:
import random
rt = []
for i in range(100):
    rt.append(random.randint(100,800))
print(rt)

In [ ]:
l = remove_n_outliers(rt, 10)

## Sets

`set` is an unordered container which is immutable and **does not allow duplicates**.

In [ ]:
months = {'June', 'July', 'August', 'September', 'October', 'November'}
print(type(months))
months

In [ ]:
months_list = ['June', 'July', 'August', 'September', 'October', 'November']
print(type(months_list))
months_list

The key characteristic of set is no duplicates

In [ ]:
### LIST
# Add a new month
months_list.append('December')
print(months_list)

# Add a month already included
months_list.append('October')
print(months_list)

In [ ]:
### SET
# Add a new month
months.add('December')
print(months)

# Add a month already included
months.add('October')
print(months)

In [ ]:
# 2nd example
mylist = ['a', 'b', 'c', 'd', 'a', 'a']
myset = set(mylist)
print(mylist)
print(myset)

`in` a set

In [ ]:
print('november' in months)
print('November' in months)

In [ ]:
months.add('november')

In [ ]:
months

In [ ]:
x = sorted(months)
type(x)

### Set unions. interactions and differences

In [ ]:
months

In [ ]:
months_2 = {'January', 'February', 'March', 'April', 'May', 'June', 'July'}
print(months_2)
print(months)

![](https://i.stack.imgur.com/uH6cL.png)

In [ ]:
print(1, months.union(months_2))
print(2, months.intersection(months_2))
print(3, months.difference(months_2))

In [ ]:
set_tmp = months
set_tmp

In [ ]:
a = [1, 2, 3, 4, 5, 6, 6, 6]
b = set(a)
print(a, b)

In [ ]:
len(a) - len(b)

More on sets:
https://youtu.be/sBvaPopWOmQ

## Dictionaries
Dictionary is a container of associations between keys and values.

In [ ]:
our_course = {'Name' : 'Introduction to Python', 'Year' : 2020, 'Instructor' : ['Iftach', 'Amir']}
print(type(our_course))
our_course

In [ ]:
our_course["Year"]

In [ ]:
print(1, our_course["Year"])
print(2, type(our_course["Year"]))
print(3, our_course)

### Adding to- and changing a- dictionary

In [ ]:
our_course["University"] = "Haifa"
print(our_course)

In [ ]:
our_course["Name"] = "Intro to Python"
print(our_course)

In [ ]:
our_course[2023] = 'The current year'
our_course

In [ ]:
our_course[2023]

#### `try` and `except`
Python has a useful command `try` that lets you run an expression (line of code). If that line of code 'fails', i.e. returns an `Error`, you can run an alternative line of code. This is done using `except`.

In [ ]:
our_course

In [ ]:
our_course['Country']

In [ ]:
our_course.keys()

In [ ]:
'Year' in our_course.keys()

In [ ]:
 if 'Country' in our_course.keys():
        print(our_course['Country'])

In [ ]:
key = input('Enter dictionary key')
try:
    val = our_course[key]
    print('The value of', key, 'is', val)
except:
    print('Key is not in dictionary')

In [ ]:
val = our_course[key]

In [ ]:
key

In [ ]:

try:
    val = int(input('Enter a whole number'))
    print(val)
except:
    print('You enterred an incorrect value')

In [ ]:
int(7.5)

### Iterating over a dictionary

In [ ]:
our_course

In [ ]:
for x in our_course:
    print(x)

In [ ]:
for x in our_course.keys():
    print(x)

In [ ]:
for x in our_course.values():
    print(x)

In [ ]:
for each_key in our_course:
    value = our_course[each_key]
    print("The key is " + str(each_key) +
          ", its value is " + str(value) +
          " and its value type is " + str(type(value)))

In [ ]:
# Methods
print(1, our_course.keys())
print(2, our_course.values())
print(3, our_course.items())

#### Getting both key and value in for loop

In [ ]:
for k, v in our_course.items():
    print(v, k)

In [ ]:
our_course

In [ ]:
our_course.pop('Instructor')

In [ ]:
our_course

In [ ]:
print('Intro to Python' in our_course)
print('Intro to Python' in our_course.values())

In [ ]:
my_subjects = {'02888829': 'David'}

tz = input('Enter subject ID number:')
if tz in my_subjects:
    print('Subject already participated')

#### Dictionaries and lists inside Dictionaries

In [ ]:
grades = {'12A': {'Anna': 100, 'Tom': 90, 'Dave': 100},
         '12B': {'Dan': 80, 'Shira': 88}}

In [ ]:
len(grades['12A'])

In [ ]:
grades['12A']

In [ ]:
grades['12A']['Tom']

In [ ]:
class_name = input('Enter class name:')
student_name = input('Enter student name:')

grades[class_name][student_name]

### Exercise
Write a main program that uses your function to simulate rolling two six-sided
dice 1,000 times. As your program runs, it should count the number of times that each
total occurs. Then it should display a dictionary that summarizes this data. Express the
frequency for each total as a percentage of the total number of rolls.

In [ ]:
# Example 1
import random

random.randint(1,6)

In [ ]:
random.randint(1,6)

In [ ]:
# Example 2
import random

for i in range(10):
    print(random.randint(1,6))

In [ ]:
prob = {2: 1/36,
        3: 2/36,
        4: 3/36,
        5: 4/36,
        6: 5/36,
        7: 6/36,
        8: 5/36,
        9: 4/36,
        10: 3/36,
        11: 2/36,
        12: 1/36}
prob

In [ ]:
d = {}

for i in range(1000):
    first_dice = random.randint(1,6)
    second_dice = random.randint(1,6)
    
    dice_total = first_dice + second_dice
    
    if dice_total not in d:
        d[dice_total] = [1, 1]
    else:
        d[dice_total] = [d[dice_total][0] + 1, (d[dice_total][0] + 1)/1000]
        
sorted(d.items())

In [ ]:
d[12]

In [ ]:
len(d)